@charset "utf-8";

footer {
  margin-top: 4rem;
  font-size: 1.3rem;
  color: var(--footer-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1.6rem;
  transition: 0.5s;
}

footer a:hover {
  text-decoration: underline;
  color: var(--default-color);
  cursor: pointer;
}
