@charset "utf-8";

@media (max-width: 1024px) {
  .banner .container {
    width: 100%;
  }

  .banner .container h3 {
    font-size: 4.2rem;
    margin-top: 10rem;
  }

  .banner .container p {
    width: 80%;
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
    .banner .container h3 {
      font-size: 3.6rem;
    }

    .banner .container p {
      font-size: 1.6rem;
    }
}