@charset "utf-8";

@media (max-width: 1024px) {
  .banner .container {
    width: 100%;
  }

  .banner .container h3 {
    font-size: 4rem;
    margin-top: 10rem;
  }

  .banner .container p {
    width: 80%;
    font-size: 1.8rem;
  }
}

@media (max-width: 700px) {
    .banner .container h3 {
      font-size: 3.6rem;
    }

    .banner .container p {
      font-size: 1.6rem;
    }
}

@media (max-width: 425px) {
  main .banner {
    background-size: cover;
    background-position: center;
  }

  .banner .container h3 {
    text-align: center;
  }

  .banner .container p {
    width: 100%;
    text-align: justify;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttons button {
    font-size: 64%;
    text-align: center;
  }
}